<template name="GameCanvasCrossword">
	<!-- script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script -->
  <script type="text/javascript">
  	jQuery.noConflict();
  </script>
	<div id="crossword"></div>
</template>