<template name="GameCanvasSpotTheDifference">

	<div class="wrap">
		<h1>Spot the Difference Game</h1>
		<p>Can you spot the differences? Click on all the differences you can find before the timer expires!</p>
		
		<div class="timer" id="timer">
			<span>Time Left:</span>
			<span id="timer_number"></span>
		</div>
	<img id="image1" src="/images/games/spot-the-difference-1.jpg" border="0"  width="0" height="0"/>
    <canvas id="Canvas"> 
         Your browser does not support Canvas. 
    </canvas>
  </div>
	

</template>
