
/**
 * maze.css
 *
 * Kids Dailies Maze Game CSS.
 * 
 * @author Adrian Iacob <adrian@bmcd.co>
 * @author Nitin N <nitin@bmcd.co>
 * @author Brent McDowell <brent@bmcd.co>
 * @version 0.1
 * @package games
 */
 
canvas {
  border: 6px double black;
  background: white;
}

img#face {
  display: none;
}

button {
  padding: 3px;
}
