<template name="GameCanvasMaze">
	<canvas id="canvas"></canvas>
  <div>
    <button class="hard">Load Hard Maze</button>
    <button class="easy">Load Easy Maze</button>
  </div>
  <img id="face" src="/images/games/face.png">
</template>
