<head>
  <meta charset="utf-8">
  <title>DAILY5</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Webflow">
  <!-- <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/daily5.webflow.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    // WebFont.load({
    //   google: {
    //     families: ["Droid Sans:400,700"]
    //   }
    // });
  </script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!-- <script type="text/javascript" src="js/webflow.js"></script> -->
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  <style>
    body {
        background-color: #35c2da;
    }
  </style>
  <link rel="shortcut icon" type="image/x-icon" href="https://daks2k3a4ib2z.cloudfront.net/placeholder/favicon.ico">
</head>
<template name="home">
 <body class="home">
  <section class="section-main-content">
    <div class="w-container">
      <div class="section-background">
        <div class="english"></div>
        <div class="cantonese"></div>
        <div class="w-row container-2-col-layout">
          <div class="w-col w-col-3 column-logo"></div>
          <div class="w-col w-col-9 w-clearfix main-content-column">
            <div class="w-nav navbar" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
              <div class="w-container navbar">
                <nav class="w-nav-menu navmenu" role="navigation">
                  <a class="w-nav-link games" href="#"></a>
                  <a class="w-nav-link fun" href="#"></a>
                  <a class="w-nav-link readers" href="#"></a>
                </nav>
                <div class="w-nav-button">
                  <div class="w-icon-nav-menu"></div>
                </div>
              </div>
            </div>
            <div class="slider-div">
              <div class="w-slider slider" data-animation="slide" data-duration="500" data-infinite="1">
                <div class="w-slider-mask">
                  <div class="w-slide slide1">
                    <img src="/images/s1.jpg">
                    </div>
                  <div class="w-slide slide2" style="display:none;">
                      <img src="/images/s2.jpg">
                  </div>
                  <!-- <div class="w-slide slide3" style="display:none;">
                      <img src="/images/bg.jpg">
                  </div> -->
                  <div class="w-slider-nav-wrapper">
                    <div class="w-slider-nav-dot dot1 active" data-index="1"></div>
                    <div class="w-slider-nav-dot dot2" data-index="2"></div>
                    </div>
                </div>
                <!-- <div class="w-slider-arrow-left">
                  <div class="w-icon-slider-left"></div>
                </div>
                <div class="w-slider-arrow-right">
                  <div class="w-icon-slider-right"></div>
                </div> -->
                <!-- <div class="w-slider-nav w-round slide-nav"></div> -->
              </div>
              <div class="text-block slide-caption"><p id="wordList">A koala baby sits on it’s mother</p><i class="fa fa-volume-up btn-speak"></i> <i class="fa fa-spinner fa-spin" style="display:none;"></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <footer class="footer"></footer> -->
</body>   
   <!--  <div class="ui four column main-content features grid">
        {{#each feature}}
            <div class="center aligned column">
                <a href="{{path}}" class="ui unstyled no-hover-styles no-underline link icon header">
                    <span class="headline">{{text}}</span>
                    <i class="{{color}} {{icon}} boilerplate-feature icon"></i>
                </a>
            </div>
        {{/each}}
    </div> -->

    <!-- <div id="packages" class="main-content padding-wrapper">
        <div class="ui fitted horizontal icon divider"><i class="magic icon"></i></div>
        <div class="ui two column stackable grid">
            <div class="middle aligned row">
                <div class="center aligned column">
                    <div class="center aligned icon-wrapper">
                        <i class="circular massive red archive icon"></i>
                    </div>
                </div>
                <div class="column">
                    <h3 class="large ui header">Atmosphere packages <div class="sub header">Don't reinvent the wheel</div></h3>
                    <p>There are the a lot of helpful packages in this boilerplate to get you started asap.</p>
                    <div class="ui list">
                        {{#each package}}
                            <a href="{{path}}" class="item no-underline link">
                                <i class="archive icon"></i>
                                {{name}}
                            </a>
                        {{/each}}
                    </div>
                    <div class="ui info message">
                        <div class="header">
                            Removed Packages
                        </div>
                        "insecure" and "autopublish" are removed by default!
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="console-tool" class="main-content padding-wrapper">
        <div class="ui fitted horizontal icon divider"><i class="magic icon"></i></div>
        <div class="ui two column stackable grid">
            <div class="middle aligned row">
                <div class="column">
                    <h3 class="large ui header">The console tool <div class="sub header">Be even faster</div></h3>
                    <p>
                        To speed up a lot of simple repetitive tasks, there's a console tool in this boilerplate.<br />
                        Simply use <code>./meteor-boilerplate {command}</code> in the project root
                        (<code>./meteor-boilerplate.bat</code> for coders on Windows).
                    </p>
                    <div class="ui list">
                        {{#each consoleCommand}}
                        <div class="item">
                            <i class="right triangle icon"></i>
                            <div class="content">
                                <div class="header">{{command}}</div>
                                <div class="description">{{description}}</div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <p>
                        <a href="mailto:mat.demicheli@gmail.com">Write me</a> if you have any ideas for additional commands.
                    </p>
                </div>
                <div class="center aligned column">
                    <div class="center aligned icon-wrapper">
                        <i class="circular massive code icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="html5" class="main-content padding-wrapper">
        <div class="ui fitted horizontal icon divider"><i class="magic icon"></i></div>
        <div class="ui two column stackable grid">
            <div class="middle aligned row">
                <div class="center aligned column">
                    <div class="center aligned icon-wrapper">
                        <i class="circular massive orange html5 icon"></i>
                    </div>
                </div>
                <div class="column">
                    <h3 class="large ui header">HTML5 and CSS3 <div class="sub header">Semanticness FTW!</div></h3>
                    <p>
                        Semantic UI and Normalize.CSS are both added to increase the use of semantic tags and classes.
                        It's better for both developers and designers if there's readable html code instead of non
                        understandable string combinations.
                    </p>
                    <h4>CSS classes in Bootstrap 3 and Semantic UI - for Contrast</h4>
                    <table class="ui basic table">
                        <thead>
                        <tr>
                            <th>What</th>
                            <th>Bootstrap 3</th>
                            <th>Semantic UI</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each semanticElement}}
                        <tr>
                            <td>{{what}}</td>
                            <td>{{withBootstrap}}</td>
                            <td>{{withSemanticUI}}</td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="structure" class="main-content padding-wrapper">
        <div class="ui fitted horizontal icon divider"><i class="magic icon"></i></div>
        <div class="ui two column stackable grid">
            <div class="middle aligned row">
                <div class="column">
                    <h3 class="large ui header">Folder structure <div class="sub header">seperate your concerns</div></h3>
                    <p>
                        There's already a structure provided for your meteor app, with some content filled in to see
                        where you can place what kind of code or where what code is generated. Here's the default structure
                        as a list:
                        <br />
                        <ul>
                            {{#each folder}}
                            <li>
                                {{root}}
                                {{#if children}}
                                <ul>
                                    {{#each children}}
                                    <li>{{this}}</li>
                                    {{/each}}
                                </ul>
                                {{/if}}
                            </li>
                            {{/each}}
                        </ul>
                    </p>

                </div>
                <div class="center aligned column">
                    <div class="center aligned icon-wrapper">
                        <i class="circular massive unordered list icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</template>
