<template name="GameCanvasTicTacToe">
    <div id="ttt">
      <div id="header"></div>
	    <div class="board">
	      <div id="square_0" class="square"></div>
	      <div id="square_1" class="square"></div>
	      <div id="square_2" class="square"></div>
	      <div id="square_3" class="square"></div>
	      <div id="square_4" class="square"></div>
	      <div id="square_5" class="square"></div>
	      <div id="square_6" class="square"></div>
	      <div id="square_7" class="square"></div>
	      <div id="square_8" class="square"></div>
	    </div>
	    <div style="display:none" id="footer">
	      <div class="message"></div>
	      <a class="start" href="#">play again</a>
	    </div>
	  </div>     
</template>
