
/**
 * tic-tac-toe.css
 *
 * Kids Dailies Tic Tac Toe Game CSS.
 * 
 * @author Adrian Iacob <adrian@bmcd.co>
 * @author Nitin N <nitin@bmcd.co>
 * @author Brent McDowell <brent@bmcd.co>
 * @version 0.1
 * @package games
 */

#ttt {
  margin: 0 auto;
}

#ttt .board {
  border: 1px solid #000000;
}

#ttt .square {
  float: left;
  border: 1px solid #000000;
  cursor: pointer;
}

#ttt .square:hover {
  background-color: #FFFF88;
}

#ttt .mark {
  margin: 0 auto;
  font-family: Sans-serif, Arial, Verdana; 
  text-align: center;
}

/* default size */
#ttt {
  width: 540px;
}

#ttt .board {
  width: 540px;
  height: 540px;
}	

#ttt .square {
  width: 178px;
  height: 178px;
}

#ttt .mark {
  width: 98px;
  line-height:178px;
  font-size: 50px;
}

@media only screen and (min-width: 1212px) {
  #ttt {
    width: 540px;
  }

  #ttt .board {
    width: 540px;
    height: 540px;
  }	

  #ttt .square {
    width: 178px;
    height: 178px;
  }

  #ttt .mark {
    width: 98px;
    line-height:178px;
    font-size: 50px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
	#ttt {
    width: 396px;
  }

  #ttt .board {
    width: 396px;
    height: 396px;
  }	

  #ttt .square {
    width: 130px;
    height: 130px;
  }

  #ttt .mark {
    width: 40px;
    line-height:130px;
    font-size: 40px;
  }
}

@media only screen and (max-width: 479px) {
	#ttt {
    width: 228px;
  }

  #ttt .board {
    width: 228px;
    height: 228px;
  }	

  #ttt .square {
    width: 74px;
    height: 74px;
  }

  #ttt .mark {
    width: 20px;
    line-height:74px;
    font-size: 20px;
  }
}

#ttt .message {
  padding-top: 5px;
  text-align: center;
}

#ttt #header {
  text-align: center;
}

#ttt #footer {
  text-align: center;
}



/*	Less Framework 3
	by Joni Korpi
	http://lessframework.com	*/


/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}

figure {position: relative;}
figure img {width: 100%;}


/*	Typography presets
	------------------	*/

.gigantic {
	font-size: 110px;
	line-height: 120px;
	letter-spacing: -2px;
}

.huge, h1 {
	font-size: 68px;
	line-height: 72px;
	letter-spacing: -1px;
}

.large, h2 {
	font-size: 42px;
	line-height: 48px;
}

.big, h3 {
	font-size: 26px;
	line-height: 36px;
}

.normal, body {
	font: 16px/24px Helvetica, Arial, sans-serif;
}

.small {
	font-size: 13px;
	line-height: 18px;
} 


/*	Default 8-column layout
	60 px columns, 24 px gutters, 60 px margins, 768 px total
	---------------------------------------------------------
	1     2      3      4      5      6      7      8     
	60px  144px  228px  312px  396px  480px  564px  648px	*/

body {
	padding: 40px 60px 0;
	/* width: 648px; */
	-webkit-tap-highlight-color: rgb(255,255,0);
}

::selection 	 	{background: rgb(255,255,0);}
::-moz-selection 	{background: rgb(255,255,0);}
img::selection 		{background: transparent;}
img::-moz-selection {background: transparent;}

#example {
	height: 600px;
	background: rgb(60,97,158);
}


/*	13-column layout
	60 px columns, 24 px gutters, 72 px margins, 1212 px total (extra space for scrollbars)
	---------------------------------------------------------------------------------------
	1     2      3      4      5      6      7      8      9      10     11     12     13
	60px  144px  228px  312px  396px  480px  564px  648px  732px  816px  900px  984px  1068px	*/
@media only screen and (min-width: 1212px) {
	
	body {
		padding: 40px 72px 0;
		/*width: 1068px; */
	}
}


/*	5-column layout
	60 px columns, 24 px gutters, 42 px margins, 480 px total
	---------------------------------------------------------
	1     2      3      4      5
	60px  144px  228px  312px  396px	*/
@media only screen and (max-width: 767px) and (min-width: 480px) {
	body {
		padding: 40px 42px 0;
		/* width: 396px; */
		/* Prevents Mobile Safari from bumping up font sizes in landscape */
		-webkit-text-size-adjust: 100%; 
	}	
}

/*	3-column layout
	60 px columns, 24 px gutters, 46 px margins, 320 px total
	---------------------------------------------------------
	1     2      3
	60px  144px  228px	*/

@media only screen and (max-width: 479px) {
	
	body {
		padding: 48px 46px 0;
		/* width: 228px; */
		/* Prevents Mobile Safari from bumping up font sizes in landscape */
		-webkit-text-size-adjust: 100%;
	}	
}
