<template name="TextToSpeech">
  <div class="container">
    <h1>TTS Demo</h1>
    <form class="form-inline">
        <!-- <ul id="tts" class="stories"> -->
          <!-- {{#each stories}}
            <li>{{content}}</li>
          {{/each}} -->
          <!-- <li>又是一个下雨的周末,大家晚上好</li> -->
          <!-- <li>this is test content. this is some more content</li> -->
        <!-- </ul> -->

        <p>
          <select name="" id="content" class="form-control">
            <option>Amazon, the online retailer, has often described itself as obsessed with making customers happy. </option>
            <option>该产品通过重写手机系统自带的热点协议，允许用户点对点分享手机内容</option>
            <!-- <option>允许用户分享内容</option> -->
            <option>該產品通過重寫手機系統自帶的熱點協議、允許用戶點對點分享手機內容</option>
            <!-- <option>允許用戶分享內容</option> -->
          </select>
        </p>
        <div class="radio">
          <label>
            <input type="radio" name="gender" id="male" value="male" checked>
            Male
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="gender" id="female" value="female">
            Female
          </label>
        </div>
        <select class="form-control" id="lang">
          <option value="usenglish">English</option>
          <option value="chchinese">Chinese (Mandarin)</option>
          <option value="hkchinese">Chinese (Cantonese)</option>
        </select>
        <!-- <button type="button" id="btn-speak" class="btn btn-danger">Speak</button> -->
    </form>
    <p id="wordList" class="muted">
      Amazon, the online retailer, has often described itself as obsessed with making customers happy.
    </p>
    <i class="fa fa-volume-up btn-speak"></i>
  </div>
</template>