.highlight {
    color: #3a87ad;
    font-weight: bold;
    text-decoration: underline;
}

select#content {
	width: 80%;
}

p#wordList {
    /*border: 1px solid #bbb;
    padding: 10px;
    border-radius: 5px;
    background: #eee;
    margin: 10px auto;
    font-size: 16px;*/
    display: inline-block;
}

i.fa.fa-volume-up.btn-speak {
	color: brown;
	font-size: 16px;
	margin-left: 10px;
	cursor: pointer;
}