<template name="basicLayout">
    <!-- <header>
        {{> yield region='header'}}
    </header> -->
    <div id="main">
        {{> yield}}
        <!-- {{! Also a sidebar! }} -->
    </div>
    <!-- <footer>
        {{> yield region='footer'}}
    </footer> -->
</template>
