<head>
  <title>Kids Dailies :: Map</title>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=false"></script>
</head>
<template name="mapsLayout">
	<body>
		{{> yield}}	
	</body>
</template>
