<head>
  <title>Kids Dailies :: Text to Speech</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<template name="ttsLayout">
  <body>
    {{> yield}}
    <div class="modal fade" id="extModal">
    <div class="modal-dialog">
      <div class="modal-content">
      	<div class="modal-header">
          	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          	<h4 class="modal-title" id="myModalLabel">Kids-Dailies-Extension Not Installed</h4>
        	</div>
        <div class="modal-body">
          <p style="text-align: center;"><a href="https://chrome.google.com/webstore/detail/kidsdailiestts/jnnbmkllmljilbccilklnpcdjeechgmm" target="_blank" class="btn btn-primary">Install Kids-Dailies-Extension From Chrome Web Store</a></p>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  </body>
</template>