<template name="header">
    <div class="center aligned header-wrapper">
        <h1 class="huge center aligned ui header">
            Kids Dailies Demos
        </h1>
        <button class="basic ui resize icon button"><i class="angle down icon"></i></button>
    </div>
</template>

