<template name="GameCanvasWordSearch">
    <!-- script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script -->
    <!-- script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.min.js"></script -->
    <!-- script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.wookmark/1.3.1/jquery.wookmark.min.js" ></script -->
    <script>
        $(document).ready(function(){
            
        });
    </script>
    <div id="game_canvas"></div>
</template>