<template name="chatTemplate">
	<div class="container">
		<h1>Chat Demo</h1>
		<div class="row">
            <div class="form-group col-sm-6 form-inline">
                <label for="code">Enter a user name:</label>
                <input id="userName" type="text" value="" class="form-control input-normal"/>
            </div>
        </div>
		<div style="border: 1px solid #bbb; padding: 10px; overflow-y: scroll; height: 300px; margin: 10px;">
			{{#each messages}}<pre>{{userName}}: {{message}}</pre>{{/each}}
		</div>
		<form class="form-horizontal form-inline">
			<label for="code">Message:</label>
			<input id="chatInput" class="form-control" style="width: 500px;"/> 
			<input type="submit" value="Submit" class="btn btn-default"/>
		</form>
	</div>
</template>
