
/**
 * maze2.css
 *
 * Kids Dailies Maze Game CSS.
 * 
 * @author Adrian Iacob <adrian@bmcd.co>
 * @author Nitin N <nitin@bmcd.co>
 * @author Brent McDowell <brent@bmcd.co>
 * @author Bruce Huang <bruce@bmcd.co>
 * @version 0.1
 * @package games
 */

#maze2 .modal .maze2-wrapper {
	width: 50%;
	margin: 0px auto;
}
#maze2 .modal .maze2-wrapper img {
	width: 100%;    
}
#maze2 .modal .maze2-wrapper p {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
#maze2 .modal-footer {
	border-top: none;
}

