<template name="GameCanvasMaze2">
	<div id="maze2">
		<canvas id="canvas"></canvas>
		<div class="modal fade" id="winModal">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-body">
		      	<div class="maze2-wrapper">
			      	<img src="/images/games/Daily10_logo.png" alt="">
			        <p>You win!</p>
			    </div>
		      </div>
		      <div class="modal-footer">
		        <a href="#" class="btn btn-default btn-lg tryagain">OK</a>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		<div class="modal fade"  id="loseModal">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-body">
		      	<div class="maze2-wrapper">
			      	<img src="/images/games/Daily10_logo.png" alt="">	
			        <p>You Lose!</p>
		        </div>
		      </div>
		      <div class="modal-footer">
		        <a href="#" class="btn btn-primary btn-lg tryagain">Try again ?</a>
		        <a href="#" class="btn btn-default btn-lg" data-dismiss="modal">Close</a>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>
</template>
